# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
